sharding:
   clusterRole: shardsvr
storage:
   wiredTiger:
      engineConfig:
         cacheSizeGB: .1
storage:
   dbPath: "/var/mongodb/db/node2"
net:
   bindIp: 192.168.103.100,localhost
   port: 27002
systemLog:
   destination: file
   path: "/var/mongodb/db/node2/mongod.log"
   logAppend: true   
operationProfiling:
   mode: slowOp
   slowOpThresholdMs: 50
security:
   authorization: enabled
   keyFile: "/var/mongodb/pki/m103-keyfile"
replication:
   replSetName: m103-repl  
processManagement:
   fork: true   